html, body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  height: 100%;
  scroll-snap-type: y mandatory;
  background-color: #1C1B20;
}

.main {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  margin-left: 250px; /* Same as the width of the sidenav */
  color: #FFFFFF;
}

.section {
  padding: 20px;
  background-color: #1C1B20;
  margin: 10px;
  height: 100vh; /* Adjust this as needed */
  scroll-snap-align: start;
  font-size: 2em;
}

.section2{
  
  text-align: center;
}








.bottom-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #FF8400;
  color: #1C1B20;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FF8400;
  overflow-x: hidden;

  text-align: center;
}
  
.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #fffbfb;
  display: block;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#penger {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  background-color: #5CBD00;
  padding: 10px;
}

.penger-style{
  font-size: 30px;
  text-align: right;
  top:0px;
  background-color: #5CBD00;
  border-radius: 5px;
  right: 20px;
  width: fit-content;
}
.topp-kjøtt {
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

.meat-type{
  border-radius: 6px;
  background-color: #5CBD00;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 350px;
  position: absolute;
  right: 9px;


}
button{
  border-radius: 4px;
  color: #1C1B20;
  background-color: #FFFFFF;
  font-size: 25px;
  border: none;
  width: max-content;
}
button:hover { /*styling for alle av knappene i spillet */
  background-color: #1C1B20;
  border: none;
  color: #FFFFFF;
  transition: 3ms;
}





/*
informasjons nettside om infomasjon av kjøp
disse er lenkene som tar deg til info om kjøttet og oppgraderinger du kan kjøpe

*/
.info-styling{ /* info om kjøtt*/
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
}

  


