html, body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  height: 100%;
  scroll-snap-type: y mandatory;
  background-color: #1C1B20;
}
.startinfo{
  height: 100%;
  width: 100%;
}

.main {
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  margin-left: 250px; /* Same as the width of the sidenav */
  color: #FFFFFF;
}

.section {
  padding: 20px;
  background-color: #1C1B20;
  margin: 10px;
  height: 100vh; /* Adjust this as needed */
  scroll-snap-align: start;
  font-size: 2em;
}

.section2{
  margin-top: 150px;
  text-align: center;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


dialog{
  height: fit-content;
  width: fit-content;
  border: 5px solid #FF8400 ;
  padding: 0%;
  background-color: #1C1B20;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}







.bottom-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #FF8400;
  color: #1C1B20;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: auto;
  position: fixed;
  z-index: 1;
  background-color: #FF8400;
  overflow-x: hidden;
  text-align: center;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #fffbfb;
  display: block;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sidenav-topptekst{
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.penger-style{
  font-size: 30px;
  background-color: #5CBD00;
  width: fit-content;
  text-align: right;
  position: fixed;
  top:5px;
  right: 30px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.topp-kjøtt {
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.meat-type{
  float: right;
  border-radius: 6px;
  background-color: #5CBD00;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 358px;
}

.oppgradering{
  float: right;
  background-color: #FF8400;
  color: #1C1B20;
  font-size: 25px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  width: 358px;
  margin-top: 30px;
  margin-left: 400px;
  border-radius: 6px;
}


button{
  border-radius: 4px;
  color: #1C1B20;
  background-color: #FFFFFF;
  font-size: 23px;
  border: none;
  margin: 10px;
  width: max-content;
}
button:hover { /*styling for alle av knappene i spillet */
  background-color: #1C1B20;
  border: none;
  color: #FFFFFF;
  transition: 3ms;
}






  


